
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">

            <h4 class="page-title">Blank Page</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Ubold</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li class="active">
                    Blank Page
                </li>
            </ol>
        </div>
    </div>


</div> <!-- container -->

